{% from 'buttons.html.twig' import button as button %}
{% extends "wrapper.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <h1 class="title">My Music Player</h1>
        <div class="player-section content">
            <audio id="player" src="" autobuffer ontimeupdate="update_duration(this)">
                Sorry, your browser does not support the audio element.
            </audio>

            <span id="duration">0:00</span>
            <div id="playback"></div>

            <div id="controls">
                <button id="previous" type="button" onclick="prev_song()" class="btn btn-danger">{{ button('previous', use_icons) }}</button>
                <button id="play" type="button" class="btn btn-info">
                    {{ button('play', use_icons) }}
                    {{ button('pause', use_icons) }}
                </button>
                <button id="next" type="button" onclick="next_song()" class="btn btn-success">{{ button('next', use_icons) }}</button>

                {% if volume_buttons %}
                    <div class="btn-group">
                        <label class="btn btn-primary vol-down" onclick="volume_down()">{{ button('vol-down', use_icons) }}</label>
                        <label class="btn btn-primary vol-up" onclick="volume_up()">{{ button('vol-up', use_icons) }}</label>
                    </div>
                {% else %}
                    <div class="slider">
                        <div class="v-center">
                            <i class="slider-icon glyphicon glyphicon-volume-up"></i>
                            <div id="volume-slider"></div>
                        </div>
                    </div>
                {% endif %}
                <div class="search-container">
                    <input type="text" id="search" class="form-control" placeholder="Search Music..">
                </div>

                <div class="pull-right">
                    <label class="btn btn-info" onclick="toggle_unplayable()">{{ button('show-unplayable', use_icons) }}</label>
                    <label class="btn btn-success" data-toggle="modal" data-target="#playlist-modal">{{ button('playlist', use_icons) }}</label>
                    <a href="/?page=settings" type="button" class="btn btn-warning">{{ button('settings', use_icons) }}</a>
                    {% if auth_enabled %}
                        <a href="/?page=logout" type="button" class="btn btn-danger">{{ button('logout', use_icons) }}</a>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="playlist-select col-xs-6 col-md-3 pull-right">
                        <select id="playlists" class="form-control" placeholder="Select playlist">
                            <option value="">All Music</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="playlist">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Filename</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include 'playlist-modal.html.twig' %}
{% endblock %}