{% from 'buttons.html.twig' import button as button %}
{% extends "wrapper.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <h1 class="title">Settings</h1>
        <div class="library-section content">
            <div class="pull-right">
                <a href="/" type="button" class="btn btn-success">{{ button('back-to-my-music', use_icons) }}</a>
            </div>
            <div class="clearfix"></div>

            <legend>Library</legend>

            <div class="form-inline add-section">
                <div class="form-group">
                    <label class="sr-only" for="dirpath">Add Directory</label>
                    <input class="form-control directory-entry" type="text" id="dirpath" placeholder="Enter Directory Path"/> 
                </div>

                <button type="button" id="add-library" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                    {{ button('add-directory', use_icons) }}
                </button>
            </div>

            <table class="table library-table">
                <thead>
                    <tr>
                        <th>Directories</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    {% for dir in directories %}
                        <tr id='lib{{ dir.libraryID }}'>
                            <td>{{ dir.directory }}</td>
                            <td><a href='#' class='rmlibrary' libraryID='{{ dir.libraryID }}'><span class='glyphicon glyphicon-remove' title='Delete From Library'></span></a></td>
                        </tr>
                    {% endfor %}
                </tr>
                </tbody>
            </table>

            <legend>Users</legend>

            <div class="form-inline add-section add-user-section">
                <div class="form-group">
                    <label class="sr-only" for="username">Username</label>
                    <input class="form-control" type="text" id="username" placeholder="Username"/>
                </div>

                <div class="form-group">
                    <label class="sr-only" for="username">Password</label>
                    <input class="form-control" type="password" id="password" placeholder="Password"/>
                </div>

                <button type="button" id="add-user" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                    {{ button('add-user', use_icons) }}
                </button>
            </div>

            <table class='table user-table'>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                        <th class="col-md-2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr id='user{{ user.id }}'>
                            <td class="username">{{ user.username }}</td>
                            <td class="text-muted">***************</td>
                            <td class="col-md-2">
                                <a href="#" class="rmuser" userId="{{ user.id }}"><span class="glyphicon glyphicon-remove" title="Delete User"></span></a>
                                {# <a href="#" class="edituser" user-id="{{ user.userID }}"><span class="glyphicon glyphicon-pencil" title="Edit user"></span></a> #}
                            </td>
                        </tr>
                     {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}